@import url('https://fonts.googleapis.com/css?family=Lora');

:root {
  --primary: #814256;
  --secondary: #EDCC6D;
  --neutral: #F1E9E1;
  --green: #726E35;
  --brown: #A66A3F;
  --pink: #DB9A8E;
  --blue: #23297a;
  --white: #FFF;

  --font: 'Lora', serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--neutral);
}